# Ambiente virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Banco de dados local
# (Não queremos versionar os dados de teste)
database.db

# Arquivos de IDE (opcional, mas bom)
.vscode/
.idea/